<!--<div class="container" ng-controller="HomeController">-->
    <!--<div class="page-header">-->
      <!--<h1>Home</h1>-->
    <!--</div>-->

  <!--<div class="jumbotron">-->
    <!--<h1>Home</h1>-->
  <!--<p>welcome.............<br>-->
    <!--This is a template showcasing the optional theme stylesheet included in Bootstrap.-->
    <!--Use it as a starting point to create something more unique by building on or modifying it.</p>-->
  <!--</div>-->
<!--</div>-->


<!--main content start-->
<section id="main-content" ng-controller="HomeController">
  <section class="wrapper site-min-height">
    <h3><i class="fa fa-angle-right"></i> Blank Page</h3>
    <div class="row mt">
      <div class="col-lg-12">
        <p>Hi. Put your words.</p>
      </div>
    </div>

  </section><! --/wrapper -->
</section><!-- /MAIN CONTENT -->