<section id="main-content" ng-controller="QuizController">
  <section class="wrapper site-min-height">
    <h3><i class="fa fa-angle-right"></i> 퀴즈 </h3>

  <div class="panel-body" ng-show="quizlist &amp;&amp; quizlist.length > 0">
    <table>
      <thead>
      <tbody dir-paginate="quiz in quizlist | itemsPerPage: 1">
        <tr>
          <td>
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
                    <div class="fancybox" fancybox ng-click="openFancybox('template.html')">
                      <!--<img class="img-responsive" src="assets/img/portfolio/port06.jpg" alt="" >-->
                      <!--<img class="img-responsive" src="http://lorempixel.com/500/400/" alt="" >-->
                      <div class="quiz-background">
                        <p class="quiz-text">{{quiz.en}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>

    </table>

    <div>
      <dir-pagination-controls template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
    </div>

</div>

<!--</div>-->

  </section><! --/wrapper -->
</section><!-- /MAIN CONTENT -->

