<section id="main-content" ng-controller="WordController">
  <section class="wrapper site-min-height">
    <h3><i class="fa fa-angle-right"></i> 단어장 </h3>

    <form class="form-horizontal" role="form" ng-submit="addWord(wordGroup, en,ko)">
      <div class="panel panel-info">
        <div class="panel-heading">등록</div>
        <div class="panel-body">
          <!-- 단어장 그룹 선택-->
          <div ng-controller="WordGroupController">
            <select class="form-control" ng-model="selectedGroup" ng-options="wordGroup.name for wordGroup in wordGroups" ng-change="handleClick(selectedGroup.id)">
              <option value="">-- 단어장 그룹 선택 --</option>
            </select>
            <br>
          </div><!-- /WordGroupController -->

          <div class="input-group">
            <input type="hidden" ng-model="wordGroup" >
            <div class="col-xs-4">
              <input type="text" class="form-control" ng-model="en" placeholder="Enter the English word..." />
            </div>
            <div class="col-xs-8">
              <input type="text" class="form-control" ng-model="ko" placeholder="Enter the Korean word..." />
            </div>

              <span class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-disabled="!addWord" title="Add">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </span>
          </div>
        </div>
      </div>
      <hr />

      <div>
        <div class="content-panel">
          <h4><i class="fa fa-angle-right"></i> 단어장 리스트 </h4><hr><table class="table table-striped table-advance table-hover">
          <div class="alert" role="alert" ng-hide="words &amp;&amp; words.length > 0">
            There are no words yet.
          </div>
          <div class="panel-body" ng-show="words &amp;&amp; words.length > 0">
            <table class="table table-hover">
            <thead>
              <tr>
                <th><i class=" fa fa-edit"></i> 암기</th>
                <th><i class="fa fa-question-circle"></i> 단어장 그룹</th>
                <th><i class="fa fa-bullhorn"></i> 영어</th>
                <th class="hidden-phone"><i class="fa fa-bookmark"></i> 한글</th>
                <th></th>
              </tr>
            </thead>

            <tbody ng-repeat="word in words ">
              <tr>
                <td>
                  <input type="checkbox" ng-model="word.memorized" ng-change="updateWord(word)"/>
                </td>
                <td>단어장 그룹...</td>
                <td>{{word.en}}</td>
                <td>{{word.ko}}</td>
                <td>
                  <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                  <button class="btn btn-danger btn-xs fa fa-trash-o" type="button" title="Delete" ng-click="deleteWord(word)">
                    <!--<span class="glyphicon glyphicon-trash"></span>-->
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        </div><!-- /content-panel -->
      </div>
    </form>

  </section><! --/wrapper -->
</section><!-- /MAIN CONTENT -->